@font-face {
    font-family: 'Pinyon Script';
    src: url('PinyonScript-Regular.woff2') format('woff2'),
        url('PinyonScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Aaron Script';
    src: url('SVN-AaronScript.woff2') format('woff2'),
        url('SVN-AaronScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

